<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>列表</h1>
    <table>
      <tr>
        <td>编号</td>
        <td>标题</td>
        <td>作者</td>
        <td>创建时间</td>
      </tr>
      <% for(var i=0, len=data.length; i<len; i++) {%>
        <tr>
          <td><%=data[i].id %></td>
          <td><a href="/list/<%=data[i].id %>.html" title="<%=data[i].title %>"><%=data[i].title %></a></td>
          <td><%=data[i].username %></td>
          <td><%=data[i].createtime %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>